
.navCheckbox {
    display: none;
}

.navButton {
    background-color: whitesmoke;    
    height: 70px;
    width: 70px;
    position: fixed;
    top: 19px;
    right: 30px;
    border-radius: 50%;
    z-index: 1100;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
    text-align: center;
    cursor: pointer;
}




.navBackground {
    height: 60px;
    width: 60px;
    border-radius: 50%;   
    position: fixed; 
    top: 24px;
    right: 35px;
    background-image: radial-gradient(#d2d2d2,#ffff);
    z-index: 1000;
    transition: transform .8s;       
} 

.navNav {    
    height: 100vh;     
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1050;
    opacity: 0;
    width: 0;
    transition: all .6s cubic-bezier(0.86, 0, 0.07, 1);
}
/*FUNCTIONALITY */
.navCheckbox:checked ~ .navBackground {  
    transform: scale(70);
}

.navCheckbox:checked ~ .navNav {
    opacity: 1;
    width: 100%;
}


/* icon */

.navIcon {
    position: relative;
    margin-top: 33px;
}

.navIcon, .navIcon::before, .navIcon::after {    
     width: 30px;
     height: 2px;
     background-color: black;
     display: inline-block;
}

.navIcon::before, .navIcon::after {    
    content: "";
    position: absolute;
    left: 0;   
    transition: all .2s;

}

.navIcon::before {
    top: -8px;
}

.navIcon::after { 
    top: 8px;
}

.navButton:hover  > .navIcon::before {
    top: -10px;
}

.navButton:hover  > .navIcon::after {
    top: 10px;
}
/* ----remidnder---- + is for adjacent siblings */
/* basically when the checkbox is checked we select the adjacent brother and then its children */
.navCheckbox:checked + .navButton > .navIcon {
    background-color: transparent;
}

.navCheckbox:checked + .navButton > .navIcon::before {
    top: 0;
   transform: rotate( 135deg);
}

.navCheckbox:checked + .navButton > .navIcon::after {
    top: 0;
    transform: rotate( -135deg);
}

 @media (max-width: 500px) {  
    .navButton {
        height: 55px;
        width: 55px;   
    }

    .navBackground {
        height: 45px;
        width: 45px;    
    }   
    
    .navIcon {   
    margin-top: 27px;
    }

    .navIcon, .navIcon::before, .navIcon::after {    
        width: 27px;         
    }
}