.Card {
    width: 25vw;
    height: 30vh;
    margin: auto;    
    border-radius: 5%;       
    cursor: pointer;
    box-shadow: 1px 1px 20px 1px black ;    
    text-align: center;
    font-family: 'Fugaz One', cursive;
    position: relative;
    display: flex;
    flex-flow: column;    
    margin-top: 40px; 
    transition: all .3s ease-out;
    overflow: hidden;
   
}

.Card:hover {
    transform: scale(1.12); 
    box-shadow: 1px 1px 40px 1px black;      
}

.Card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #6d7a69 ; 
    opacity: .4;
    z-index: -1;   
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.Card span{
  opacity: 0;
  
}

.Card:hover span { 
    opacity: 1; 
    transform: translateY(-10%);
    
}

.Card:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black ; 
    opacity: .7;
    z-index: -1;   
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

.CardTitle {
    padding-top: 4vh;
    padding-bottom: 8vh;
    transform: translateY(-60%);
    text-shadow: 1px 1px 10px black;      
    transition: all .7s ease; 
}

.Card:hover > .CardTitle{
      transform: translateY(-0%) skewY(-5deg) ;   
}

.title {
    color: white;    
    margin: 0px ;    
    transition: all .5s ease-in;
    font-size: 2.5vw;
    line-break: 1.1;  
}

.cardDescription {
    transform: translateY(800%);
    transition: all .7s ease; 
}

.Card:hover > .cardDescription{
      transform: translateY(0%);   
}


.description{
    font-size: 15px;
    line-height: 1.3;
    color: white;
    text-shadow: 1px 1px 10px black;
       
}





/* halfscreen / ipad */
@media only screen and (min-width: 500px) and (max-width: 707px) {
    .Card {
        height: 25vh;
        margin-top: 15px;
        
    }
}
 /* mobile */
@media(max-width: 499px) {
    .Card {      
       width: 35vh;    
       height: 35vh;        
    }

    .Card:not(:last-child){
         margin-right: 20px;   
    }
    
    .Card::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: black; 
        opacity: .55;
        z-index: -1;   
        height: 100%;
        width: 100%;
        border-radius: 5%;
    }

    .Card span {
        opacity: 1;
    }

    .title{
        font-size: 8vw;        
    }

    .CardTitle {
    transform: translateY(0%) skewY(-5deg);
    }

    .cardDescription {
    transform: translateY(0%);
    }

}

@media (min-width: 1524px) {    

    
}
